// :host ::ng-deep .mtx-grid {
//   height: 480px;
// }




.demo-full-width {
  width: 100%;
}
.modal {
   background: whitesmoke;
}

#btnright{

  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  >form{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    >
    mat-field{
      width: 100%;
    }
  }

}




