


<div id="modal" class="modal">
  <!--  -->
  <div mat-dialog-actions align="end">

    <button mat-raised-button mat-dialog-close color="warn" (click)="dialogRef.close()"> <mat-icon matSuffix>close</mat-icon></button>



  </div>

  <h2 mat-dialog-title ><span class="titulo">Registo de utilizadores</span></h2>


  <mat-dialog-content>

    <form [formGroup]="registerForm" class="form-field-full" (ngSubmit)="Salvar()">

      <mat-tab-group>
        <mat-tab label="DADOS GERAIS">
        <br>
<mat-card>
  <mat-card-content>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Nome completo</mat-label>
          <input matInput placeholder="introduza o nome completo"
          formControlName="nome"  >
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>sexo</mat-label>
          <mtx-select [items]="selectesexo" formControlName="sexo12"
            bindLabel="descricao" [loading]="loading"  [hideSelected]="true"
             (change)="Onsexochenge($event)"
            >
          </mtx-select>
        </mat-form-field>
      </div>

      <input  hidden="true"  matInput formControlName="paStamp">
      <input  hidden="true"  matInput formControlName="inseriu">
      <input  hidden="true"  matInput formControlName="alterou">
      <input  hidden="true"  matInput formControlName="inseriuDataHora">
      <input  hidden="true"  matInput formControlName="alterouDataHora">
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>Órgão</mat-label>
          <mtx-select [items]="selectorgaos" formControlName="orgaoOrigem1"
            bindLabel="descricao" [loading]="loading" [hideSelected]="true"
            (change)="onSelectorgaoChange($event)"  (clear)="ClearDirecoes()"
            >
          </mtx-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>Direcção</mat-label>
          <mtx-select [items]="selectdirecoes" formControlName="direcaoOrigem1" [hideSelected]="true"
            bindLabel="descricao" [loading]="loading" (change)="onDirecaoChange($event)"  (clear)="ClearDepartamento()"
            >
          </mtx-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>Departamento</mat-label>
          <mtx-select [items]="selectdirecoesproced" formControlName="departamento12" [hideSelected]="true"
            bindLabel="descricao" [loading]="loading" (change)="onselectDepartamento($event)"
            >
          </mtx-select>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput placeholder="introduza o nome de utilizador"
          formControlName="login" >
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput placeholder="introduza a senha"
          formControlName="senha" type="password">
          <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>Perfil</mat-label>
          <mtx-select [items]="selectperfil" formControlName="tipoPerfil12"
            bindLabel="descricao" [loading]="loading" (change)="onselectPerfil($event)"
            >
          </mtx-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="w-full">
          <mat-label>Patente</mat-label>
          <mtx-select [items]="selectpatentetegoria1" formControlName="patentetegoria1"
            bindLabel="descricao" [loading]="loading" (change)="onselectpatentecategoria($event)"
            >
          </mtx-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="introduza o endereço electrónico"
          formControlName="email" type="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="data-grid-options">
        <mat-checkbox  formControlName="activopa">Estado activo?</mat-checkbox>
        <mat-checkbox  formControlName="medico">É médico?</mat-checkbox>
        <mat-checkbox formControlName="edaSic">É da SIC?</mat-checkbox>
        <mat-checkbox formControlName="verSitClass">Visualiza informação classificada?</mat-checkbox>
      </div>





    </div>
  </mat-card-content>
</mat-card>
        </mat-tab>


        <mat-tab label="IMAGEM">
          <br>
          <mat-card>
            <mat-card-content>



              <div class="imagem" >


                <div class="custom-file">
                  <mat-icon  >
                    photo_camera
                  </mat-icon>
              <input type="file" accept="image/*" (change)="onFileChange($event)"  name="foto" class="fotoadd">

                </div>
                <div class="mostraIMG" >
                  <img class="texte" [src]="safeUrl">
                </div>


              </div>
            </mat-card-content>
          </mat-card>

        </mat-tab>

      </mat-tab-group>

      <mat-dialog-actions  align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!!registerForm.invalid"><mat-icon>save</mat-icon></button>
      </mat-dialog-actions>



    </form>
    </mat-dialog-content>

</div>



