.modal-container {
  padding: 20px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.full-width {
  grid-column: 1 / 3;
}

mat-form-field {
  width: 100%;
}
