
<div class="row">
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>NIM</mat-label>
            <input matInput [value]="nimMilitar" type="text" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-8">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome completo</mat-label>
            <input matInput [value]="nomeMilitar" type="text" readonly>
          </mat-form-field>
        </div>
      </div>
