.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 16px;
  background-color: #212121;
  background-image:url('/assets/images/Mdn/MDN_SEDE.PNG');
    // linear-gradient(
    //   45deg,
    //   rgba(255, 255, 255, .05) 25%,
    //   transparent 25%,
    //   transparent 75%,
    //   rgba(255, 255, 255, .05) 75%,
    //   rgba(255, 255, 255, .05)
    // ),
    // linear-gradient(
    //   -45deg,
    //   rgba(255, 255, 255, .05) 25%,
    //   transparent 25%,
    //   transparent 75%,
    //   rgba(255, 255, 255, .05) 75%,
    //   rgba(255, 255, 255, .05)
    // );
  //background-size: 60px 60px;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
