

<div mat-dialog-actions align="end">

  <button mat-raised-button mat-dialog-close color="warn" (click)="dialogRef.close()">Close
    <mat-icon matSuffix>close</mat-icon>
  </button>

</div>
<div mat-dialog-content>
  <div class="d-flex w-full h-full">
    <mat-card class="m-auto" >
      <mat-card-header class="m-b-24">
        <mat-card-title>
          Dados da Direcção...
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <form class="form-field-full" [formGroup]="registerForm">
          <mat-form-field   appearance="outline">
            <mat-label>Código do órgão</mat-label>
            <input matInput [readonly]="true"  formControlName="codOrgao">
            <mat-icon matSuffix>info</mat-icon>
          </mat-form-field>

          <mat-form-field  appearance="outline">
            <mat-label>Órgão</mat-label>
            <mtx-select [items]="selectorgaos" formControlName="orgaoOrigem1"
              bindLabel="descricao" [loading]="loading" [hideSelected]="true"
              (change)="onSelectorgaoChange($event)">
            </mtx-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Código da Unidade</mat-label>
            <input matInput  [readonly]="true"  formControlName="codUnidade" >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descrição da Unidade</mat-label>
            <input matInput formControlName="descricao" required >

          </mat-form-field>

          <mat-form-field *ngIf="visivel">
            <mat-label></mat-label>
            <input matInput formControlName="unidadeStamp"  [hidden]="true">
          </mat-form-field>
          <mat-form-field *ngIf="visivel">
            <mat-label></mat-label>
            <input matInput formControlName="orgaoStamp"  [hidden]="true">
            <input matInput formControlName="orgao"  [hidden]="true">
          </mat-form-field>
          <button class="w-full m-y-16" mat-raised-button color="primary"
          [disabled]="!!registerForm.invalid" (click)="login()">
          Salvar <mat-icon matSuffix>save</mat-icon>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>


