<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn" (click)="dialogRef.close()">
    Fechar <mat-icon matSuffix>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="d-flex w-full h-full">
    <mat-card class="m-auto">
      <mat-card-header class="m-b-24">
        <mat-card-title>
          Dados da Localidade
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="form-field-full" [formGroup]="localidForm">
          <mat-form-field appearance="outline">
            <mat-label>Código da Localidade</mat-label>
            <input matInput formControlName="codLocalidade">
            <mat-icon matSuffix>info</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao" required>
          </mat-form-field>


          <!-- Campos ocultos ou somente leitura -->
          <input type="hidden" formControlName="localidadeStamp">

          <button class="w-full m-y-16" mat-raised-button color="primary"
            [disabled]="localidForm.invalid" (click)="gravar()">
            Salvar <mat-icon matSuffix>save</mat-icon>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
